<h1>Passenger Edit</h1>

@if (passenger().id !== 0) {
  @if (passengerForm().invalid()) {
    <div>{{ passengerForm().errorSummary() | json }}</div>
  }
  <form>
    <div>
      <label for="passenger-id">ID</label>
      <input [formField]="passengerForm.id" type="number" id="passenger-id" />
      @if (passengerForm.id().invalid()) {
        <div>{{ passengerForm.id().errors() | json }}</div>
      }
    </div>

    <div>
      <label for="passenger-name">Name</label>
      <input [formField]="passengerForm.name" id="passenger-name" />
      @if (passengerForm.name().invalid()) {
        <div>{{ passengerForm.name().errors() | json }}</div>
      }
    </div>

    <div>
      <label for="passenger-firstName">First Name</label>
      <input [formField]="passengerForm.firstName" id="passenger-firstName" />
      @if (passengerForm.firstName().invalid()) {
        <div>{{ passengerForm.firstName().errors() | json }}</div>
      }
    </div>

    <div>
      <label for="passenger-bonusMiles">Bonus Miles</label>
      <input
        [formField]="passengerForm.bonusMiles"
        type="number"
        id="passenger-bonusMiles" />
      @if (passengerForm.bonusMiles().invalid()) {
        <div>{{ passengerForm.bonusMiles().errors() | json }}</div>
      }
    </div>

    <div>
      <label for="passenger-status">Passenger Status</label>
      <select [formField]="passengerForm.passengerStatus" id="passenger-status">
        <option value="A">Status A</option>
        <option value="B">Status B</option>
        <option value="C">Status C</option>
      </select>
      @if (passengerForm.passengerStatus().invalid()) {
        <div>{{ passengerForm.passengerStatus().errors() | json }}</div>
      }
    </div>

    <div class="mt-40">
      <button [disabled]="isDisabled()" type="button" (click)="save()">
        Save
      </button>
    </div>
  </form>
}
