<h1>Flight Search (Signal Forms)</h1>

<form>
  <div>
    <label for="from">From:</label>
    <input [formField]="filterForm.from" aria-label="from" id="from" />
  </div>
  <div>
    <label for="to">To:</label>
    <input [formField]="filterForm.to" aria-label="to" id="to" />
  </div>
  <div>{{ flightRoute() }}</div>
  <div>
    <button
      type="button"
      (click)="search()"
      [disabled]="filterForm().invalid()">
      Search
    </button>
    <button type="button" (click)="delay()" [disabled]="flights().length === 0">
      Delay
    </button>
  </div>
  @if (isLoading()) {
    <div>Loading ...</div>
  }
</form>

<div class="row">
  @for (f of flights(); track f.id) {
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-flight-card
        [item]="f"
        [selected]="basket()[f.id]"
        (selectedChange)="updateBasket(f.id, $event)">
        <button [routerLink]="['../flight-edit', f.id, { showDetails: true }]">
          Edit
        </button>
      </app-flight-card>
    </div>
  }
</div>

<p>&nbsp;</p>

<div>
  <pre>{{ basket() | json }}</pre>
</div>
