@let flightForm = flight();

<fieldset>
  <legend>Flight</legend>

  <div class="form-group">
    <label for="flight-id">ID</label>
    <input
      class="form-control"
      [formField]="flightForm.id"
      type="number"
      id="flight-id" />
  </div>

  <div class="form-group">
    <label for="flight-from">
      From
      <app-field-meta-data-pane [field]="flightForm.from" />
    </label>
    <input
      class="form-control"
      [formField]="flightForm.from"
      id="flight-from" />
    <app-validation-errors-pane [errors]="flightForm.from().errors()" />
    @if (flightForm.from().pending()) {
      <div>Waiting for Async Validation Result...</div>
    }
  </div>

  <div class="form-group">
    <label for="flight-to">
      To
      <app-field-meta-data-pane [field]="flightForm.to" />
    </label>
    <input class="form-control" [formField]="flightForm.to" id="flight-to" />
    <app-validation-errors-pane [errors]="flightForm.to().errors()" />
  </div>

  <div class="form-group">
    <label for="flight-date">Date</label>
    <div class="input-group">
      <input
        class="form-control"
        [formField]="flightForm.date"
        id="flight-date"
        type="datetime-local" />
    </div>
  </div>

  <div class="form-group form-check">
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        [formField]="flightForm.delayed"
        id="flight-delayed" />
      Delayed</label
    >
  </div>

  <div class="form-group form-check">
    <label for="delay">Delay</label>
    <app-delay-stepper id="delay" [formField]="flightForm.delay" />
    <app-validation-errors-pane [errors]="flightForm.delay().errors()" />
    @for (reason of flightForm.delay().disabledReasons(); track $index) {
      <p>Disabled because {{ reason.message }}</p>
    }
  </div>
</fieldset>
