<h1>Check-in</h1>

@if (checkinForm().invalid()) {
  <div class="validation-errors">Please correct the validation errors!</div>
}

<form class="small-form">
  <div>
    <label for="flightId">Ticket Id</label>
    <input #input [formField]="checkinForm.ticketId" id="flightId" />
    @if (checkinForm.ticketId().invalid()) {
      <div>{{ checkinForm.ticketId().errorSummary() | json }}</div>
    }
  </div>

  <ng-container [formGroup]="passengerGroup">
    <div>
      <label for="firstName">First Name</label>
      <input #input formControlName="firstName" id="firstName" />
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input #input formControlName="lastName" id="lastName" />
    </div>
    <div>
      <label for="email">Email Address</label>
      <input #input formControlName="email" id="email" />
      @if (passengerGroup.controls.email.invalid) {
        <div>{{ passengerGroup.controls.email.errors | json }}</div>
      }
    </div>
  </ng-container>

  <div>
    <div class="checkbox">
      <label>
        <input type="checkbox" [formField]="checkinForm.conditionsAccepted" />
        I accept the general conditions of carriage
      </label>
      @if (checkinForm.conditionsAccepted().invalid()) {
        <div>{{ checkinForm.conditionsAccepted().errorSummary() | json }}</div>
      }
    </div>
  </div>

  <div [routerLink]="[]" id="confirmation">
    <button (click)="checkin()" type="button">Check-in</button>
    <button (click)="navigateToNextFlights()" type="button">
      Next Flights
    </button>
  </div>
</form>

<p class="mb-20">
  <a
    (click)="toggleNextFlights()"
    (keypress.enter)="toggleNextFlights()"
    tabindex="0">
    Toggle Next Flights
  </a>
</p>

@if (showNextFlights()) {
  <app-next-flights />
}
