<h1>Check-in</h1>

@if (checkinForm().invalid()) {
  <div class="validation-errors">Please correct the validation errors!</div>
}

<form class="small-form" class="signal-form">
  <div>
    <label for="flightId">Ticket Id</label>
    <input [formField]="checkinForm.ticketId" id="flightId" />
    @if (checkinForm.ticketId().invalid()) {
      <div>{{ checkinForm.ticketId().errorSummary() | json }}</div>
    }
  </div>

  <fieldset [formGroup]="passengerGroup" class="reactive-form">
    <div>
      <label for="firstName">First Name</label>
      <input formControlName="firstName" id="firstName" />
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input formControlName="lastName" id="lastName" />
    </div>
    <div>
      <label for="email">Email Address</label>
      <input formControlName="email" id="email" />
      @if (passengerGroup.controls.email.invalid) {
        <div>{{ passengerGroup.controls.email.errors | json }}</div>
      }
    </div>

    <fieldset class="signal-form">
      <div>
        <label for="phoneNumber">Phone</label>
        <input formControlName="phoneNumber" id="phoneNumber" />
        Full Number: {{ fullPhoneNumber() }}
        <!-- {{ this.phoneNumber.sourceValue() }} -->
        @if (passengerGroup.controls.phoneNumber.invalid) {
          <div>{{ passengerGroup.controls.phoneNumber.errors | json }}</div>
        }
      </div>
    </fieldset>
  </fieldset>

  <div>
    <div class="checkbox">
      <label>
        <input type="checkbox" [formField]="checkinForm.conditionsAccepted" />
        I accept the general conditions of carriage
      </label>
      @if (checkinForm.conditionsAccepted().invalid()) {
        <div>{{ checkinForm.conditionsAccepted().errorSummary() | json }}</div>
      }
    </div>
  </div>

  <div [routerLink]="[]" id="confirmation">
    <button (click)="checkin()" type="button">Check-in</button>
    <button (click)="navigateToNextFlights()" type="button">
      Next Flights
    </button>
    <button (click)="upgrade()" type="button">Upgrade</button>
  </div>
</form>

<!-- <p class="mb-20">
  <a
    (click)="toggleNextFlights()"
    (keypress.enter)="toggleNextFlights()"
    tabindex="0">
    Toggle Next Flights
  </a>
</p>

@if (showNextFlights()) {
  <app-next-flights />
} -->
